{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'manager_app/css/index.css' %}" rel="stylesheet" />
</head>
<body>
{% block header %}
<div class="header">
    <h1>Cистема управления заказами кафе</h1>
</div>
{% endblock header %}

{% block buttons %}
<div class="buttonContainer">
    <a class="rainbow-button" href="{% url 'home' %}">Список заказов</a>
    <a class="rainbow-button" href="{% url 'add_order' %}">Добавить заказ</a>
    <a class="rainbow-button" href="{% url 'add_item' %}">Добавить пункт меню</a>
    <a class="rainbow-button" href="{% url 'total_revenue' %}">Выручка</a>
</div>
<div class="buttonContainer">
    {% for c in cats %}
        <button class="button-arounder"><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></button>
    {% endfor %}
</div>
{% endblock %}

{% block content %}
{% endblock %}

{% if page_obj.has_other_pages %}
<nav>
    <ul>
        {% if page_obj.has_previous %}
            <li class="nav_button">
                <a href="?page={{ page_obj.previous_page_number }}">&lt</a>
            </li>
        {% endif %}
        {% for p in paginator.page_range %}
        {% if page_obj.number == p %}
        <li class="nav_button">{{ p }}</li>
        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
        <li class="nav_button">
            <a href="?page={{ p }}">{{ p }}</a>
        </li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="nav_button">
                <a href="?page={{ page_obj.next_page_number }}">&gt</a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
<script src="{% static 'examinations/js/index.js' %}"></script>
</body>
</html>