{% extends 'manager_app/base.html' %}

<a name="top"></a>

{% block content %}

<div align="center">
    <form method="GET" action="{% url 'home' %}">
        <label for="table_number">Номер стола:</label>
        <input type="text" name="table_number" id="table_number" value="{{ request.GET.table_number }}">

        <label for="status">Статус:</label>
        <select name="status" id="status">
            <option value="">-- Выберите статус --</option>
            {% for value, display in orders.model.STATUS_CHOICES %}
                <option value="{{ value }}" {% if value == request.GET.status %}selected{% endif %}>{{ display }}</option>
            {% endfor %}
        </select>

        <button type="submit">Поиск</button>
    </form>
</div>

<div>
    <ul>
    {% for o in orders %}
        <li>
            <p>Заказ №: {{ o.pk }}</p>
            <p>Статус: {{o.get_status_display }}</p>
            <p>Номер стола: {{ o.table_number }}</p>
            <p>Заказ:</p>
            <ul>
                {% for item in o.items.all %}
                    <li>{{ item.name }} - {{ item.price }} руб.</li>
                {% empty %}
                    <li>Нет заказанных блюд.</li>
                {% endfor %}
            </ul>
            <p>Общая стоимость заказа: {{ o.total_price }}</p>
            <button onclick="location.href='{% url 'order_detail' o.pk %}'">Подробнее</button>
        </li>
    {% endfor %}
    </ul>
    <a class="to-top" href="#top">Наверх</a>
</div>
{% endblock %}